<div class="z-20 bg-gray-800">
    <nav class="container mx-auto flex items-center justify-between p-6">
      <div class="text-center">
        <button (click)="toggleSidebar()" class="w-10 h-10 text-gray-700 hover:text-gray-900 focus:outline-none transition duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="#ffffff" d="M32 288c-17.7 0-32 14.3-32 32s14.3 32 32 32l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L32 288zm0-128c-17.7 0-32 14.3-32 32s14.3 32 32 32l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L32 160z"/>
          </svg>
        </button>
      </div>
  
      <!-- Title -->
      <h1 class="text-white text-xl font-bold">Mon Portfolio</h1>
  
      <!-- Breadcrumbs -->
      <div class="text-gray-400 text-sm">
        <span>Accueil</span> >
      </div>
    </nav>
  </div>
  